Repository gigachad-script/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "npx eslint --fix",
    "npx prettier --write"
  ],
  "*.json": [
    "npx prettier --write"
  ]
}

Notes added by 'git notes add'
  915127f29e3141db7acd6bce8530d3e2fcf217a0
Due: none

chore: add .npmrc for semantic release
  .npmrc
Due: none

docs(readme): start readme (and trigger publish)
  README.md
Due: none

Notes added by 'git notes add'
  a93e401e35d42d9addca120adc889e03d228d98b
Due: none

feat: add cli and make prettier dependency
  cli.js
  package.json
  yarn.lock
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  5ed806bb4651805a14c9138c33b745743e7b6534
Due: none

feat: add .vscode files to cli
  cli.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  dcca60f6c58d104b100154d3ed38cd52eede3c86
Due: none

fix: await vscode dir creation
  cli.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  c694008b3b206f658f60a108ee2e30fd5af9d2e3
Due: none

docs(readme): complete readme
  README.md
  package.json
Due: npx prettier --write

chore: actually commit the .vscode files
  .vscode/extensions.json
  .vscode/settings.json
Due: npx prettier --write

feat: add react switch to cli
  cli.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  f029ab82bdab26b42abd88504f3f6728a3c5eb97
Due: none

Notes added by 'git notes add'
  a08608d3ca849b83293014274e94496da37ed182
Due: none

docs(readme): spruce readme a lil bit
  README.md
  chadscript.png
Due: none

Notes added by 'git notes add'
  8aa90af900b5509097ac21fe785cd8ceda4d6463
Due: none

docs(readme): change identity and prepare for fresh publish
  LICENSE
  README.md
  cli.js
  package.json
  yarn.lock
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  2e2d3e12d10bb371c2b1ddc0c890a5633833e5c2
Due: none

fix: rc files created with correct name
  cli.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  d955eaee4ab15fb3e1ab001fdebd88d62726b83e
Due: none

feat: checks for tsconfig and generates if not found
  cli.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  66957fbfbca749a5371daf0c6b47d64f961ae1ca
Due: none

fix: the eslintrc, parserOptions thing feat: add .editorconfig generation misc: use json config for cli
  README.md
  cli.js
  cli_config.json
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  4dc9cfc783d030b45f0926a9ae8d8b9f26b54593
Due: none

docs(readme): update readme
  README.md
Due: none

Notes added by 'git notes add'
  f56d84b3f4aae57e4d72cc2ad6552a3de4a1d686
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

feat: separate more elements between configs
  common_config.json
  index.js
  react.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  8cb319900cc45fa63570b90b399d0d639a4fec85
Due: none

Notes added by 'git notes add'
  96c21e13d7218c57ada588b683aa2ed181f7e606
Due: none

fix: env and settings from common
  index.js
  react.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  bff074b7a812c2222f6b7966dd4cea3cb9ac2aaf
Due: none

fix: react env config
  react.js
Due: npx eslint --fix, npx prettier --write

Notes added by 'git notes add'
  32d4b896d64b73ed0473df9c29d07e6182a3ea28
Due: none
